<template name="layout">
  <div class="container">

    <h1 class="text-center text-danger">Mention</h1>

    <!-- if logged in diplay this nav -->
    <ul class="nav nav-tabs nav-justified">
      <li><a class="text-muted" href="{{pathFor 'feed'}}">feed</a></li>
      <li><a class="text-muted" href="{{pathFor 'friends'}}">friends</a></li>
      <li><a class="text-muted" href="{{pathFor 'profile'}}">profile</a></li>
      <li><a class="text-muted" href="{{pathFor 'login'}}">login</a></li>
    </ul>

    <!-- else show the login in the nav [username + password] -->
    <!-- <ul>
      <li>
        <input type="text" placeholder="username">
      </li>
      <li>
        <input type="text" placeholder="username">
      </li>
      <li>
        <button type"button">Login</button>
      </li>
    </ul> -->

    <br>
    {{> yield}}

  </div>
</template>
