<template name="layout">
  <div class="container">

    <h1 class="text-center text-danger">Mention</h1>

    {{#if currentUser}}
    <!-- if logged in display this nav -->
    <ul class="nav nav-tabs nav-justified">
      <li><a class="text-muted" href="{{pathFor 'feed'}}">Feed</a></li>
      <!-- <li><a class="text-muted" href="{{pathFor 'friends'}}">Friends</a></li> -->
      <li><a class="text-muted" href="{{pathFor 'profile'}}">Profile</a></li>
      <!-- <li><a class="text-muted" href="{{pathFor 'test'}}">test</a></li> -->
      <li><a class="text-muted js-logout" href="#">Logout</a></li>
      <li><a class="text-success" href="{{pathFor 'quizFour'}}">Quiz 4</a></li>
    </ul>
    {{else}}
    <!-- else diplay this nav -->
    <ul class="nav nav-tabs">
      <li class="pull-right"><a class="text-muted" href="{{pathFor 'signup'}}">Sign Up</a></li>
    </ul>
    {{/if}}

    <br>
    {{> yield}}

  </div>

  <hr>

  <div>
    <br>
    <!-- <h5>Hello</h5> -->
    <br>
  </div>
</template>
